@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary: #abc5ad;
  --dk-green: #87b18d;
  --secondary: #ed9c6b;
  --background: #fff;
  --brown: #8a623d;
}

h1{
  font-weight: 700;
}

h2, h3, h4{
  color: var(--secondary);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding: 1em 1em 0.5em 1em;
}

p{
  color: var(--dk-green);
  font-size: 2em;
  margin: 0 4em 0.5em 4em;
  font-weight: 350;
}

*{
  margin: 0;
  font-family: "Josefin Sans";
}

.navbar {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding-right: 1em;
  font-size: 2em;
  color: var(--background);
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* height: 64px; */
}

.navbar img{
  margin-right: auto;
  margin-left: 1em;
  width: 1.5em;
}

.navbar a{
  text-align: center;
  padding: 0.75em 1em;
}

.navbar a:hover{
  color: var(--secondary);
  background-color: var(--background);
  outline: solid 2px var(--secondary);
}

.hero{
  position: relative;
}

.hero img{
  max-width: 100vw;
}

.hero .title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: var(--background);
  padding: 0.5em;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 2px #8a623d88 )
}

.hero .portfolio{
  color: var(--secondary);
  font-size: 3.1em;
  
}


