@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary: #abc5ad;
  --dk-green: #87b18d;
  --secondary: #ed9c6b;
  --background: #fff;
  --brown: #8a623d;
}

html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 74px;
}

body{
  width: 100vw;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  font-weight: 700;
}

h2{
  margin-top: 1em;
}

h2, h3, h4{
  color: var(--secondary);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding: 1em 1em 0.5em 1em;
}


p{
  color: var(--dk-green);
  font-size: 2em;
  margin: 0 4em 0.5em 4em;
  font-weight: 350;
}

hr {
  width: 90%;
  border: none;
  height: 2px;
  margin: 1em auto;
  background-color: var(--secondary);
}

a{
  text-decoration: none;
}

*{
  margin: 0;
  font-family: "Josefin Sans";
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--primary);
  padding-right: 1em;
  font-size: 1.5em;
  color: var(--background);
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 74px;
  justify-content: space-between;
}

.navbar div{
  display: flex;
  
}

.navbar img{
  margin-right: auto;
  margin-left: 1em;
  width: 1.5em;
  /* display: block; */
}


.navbar a{
  text-align: center;
  padding: 0 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background);
}

.navbar a:hover{
  color: var(--secondary);
  background-color: var(--background);
  outline: solid 2px var(--secondary);
  height: 72px;
}

.navbar .social:hover{
    background: none;
    outline: none;
    height: 35.2578px;
    overflow: hidden;
}

.navbar .social{
  margin-left: 0;
  padding-left: 0;
}

#logo{
  padding: 0;
  margin: 0;
}

#logo:hover{
  background-color: var(--primary);
  outline: none;
}

.hero{
  position: relative;
}

.hero img{
  max-width: 100vw;
}

.hero .title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: var(--background);
  padding: 0.5em;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 2px #8a623d88 )
}

.hero .portfolio{
  color: var(--secondary);
  font-size: 3.1em;
  
}

.about-flex{
  display: flex;
  gap: 3em;
  margin: 0 auto;
  justify-content: center;
}

.about img{
  width: 20em;
  height: auto;
  
}
.about p{
  margin: 0 0 0.5em 0;
  width: 20em;
}

.projects .cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em 0;
}

.card
{
  background-color: var(--background);
  width: 22em;
  height: 32em;
  border-radius: 1.25em;
  overflow: hidden;
  filter: drop-shadow(5px 5px 4px #00000050);
  margin: 0 4em;
  justify-content: center;

}

.card img{
  width: 100%;
  height: 234px;
  object-fit: cover;
}

.card .card-image{
  position: relative;
}

.card h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 0.5em 0.25em 0.5em;
  color: var(--background);
  font-size: 1.5em;
  background-color: #00000060;
  text-align: center;
}

.card h2{
  font-size: 1em;
  padding: 0;
  margin: 0.25em auto;
}

.card p{
  font-size: 1em;
  padding: 0;
  margin: 0.5em 2em 1em 2em;
  position: relative;
}

.card .skills{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1em;

}

.card .skills p{
  background-color: var(--secondary);
  color: var(--background);
  padding: 0.5em;
  margin: 0 0.5em;
  font-weight: 650;
  align-items: center;
  display: flex;
}

.card a{
  text-decoration: none;

}

.contactButton{
  width: 20em;
  height: 20em;
  background-color: var(--primary);
  margin: 1em;
  border-radius: 1.25em;
}

.contactButton a{
  width: 100%;
  height: 100%;
  display: block;
}


.contactButton:hover{
  background-color: var(--secondary);
}

.buttons{
  display: flex;
  justify-content:center;
  gap: 2em;
  filter: drop-shadow(5px 5px 4px #00000050);
}

.buttons p{
  color: var(--background);
  margin: 0;
  margin-top: 1em;
  text-align: center;
  font-weight: 600;

 
}

.contactButton img{
  width: 55%;
  margin-left: 4.5em;
  margin-top: 2em;
}

.smallText{
  font-size: .75em;
}

.mail p{
  border: solid red 3px;
}

.footer{
  background-color: var(--primary);
  text-align: center;
  color: var(--background);
}

.footer button{
  border: solid 2px var(--background);
  background-color: var(--primary);
  color: var(--background);
  border-radius: 1.25em;
  margin: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.footer button:hover{
  background-color: var(--secondary);
  border-color: var(--secondary);
}

@media only screen and (max-width: 600px){
  *{
    max-width: 600px;
  }
  .buttons{
    flex-direction: column;
    justify-content: center;
  }

  h1{
    font-size: 0.75em;
  }

  .hero .portfolio{
    font-size: 1em;
  }
}

