@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary: #abc5ad;
  --secondary: #ed9c6b;
  --background: #fff;
 



}

*{
  margin: 0;
  font-family: "Josefin Sans";
}

.navbar {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 0.5em;
  padding-right: 1em;
  font-size: 2em;
  gap: 1em;
  color: var(--background);
}

.navbar img{
  margin-right: auto;
}

.navbar a:hover{
  text-decoration: underline var(--secondary);
}

